.wrapper-features {
}
.feature-container {
  position: relative;
}
.features {
  font-size: 25px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
  width: 90%;
  height: 100vh;
  display: flex;
  // align-items: center;
  // justify-content: space-around;
}
.features.fade-in {
  opacity: 1;
  transform: translateY(0);
}
.features h2 {
  font-size: 50px;
  font-weight: bold;
  color: $grey;
}
.features-comments {
  padding-left: 2em;
  // flex: 0 1 70%;
}
.feature-image {
  position: absolute;
  top: 100px;
  right: 0px;
  padding-left: 5em;
  // flex: 0 1 30%;
  width: 50%;
}
.btn-submit {
  background-color: transparent;
  color: white;
  border: 3px solid white;
  padding: 15px 45px;
  border-radius: 5px;
  font-weight: bolder;
}
.btn-submit:hover {
  text-decoration: none;
  border: 3px solid $grey;
  transition: all 0.6s ease;
}
