.container-parallax {
  margin-right: auto;
  margin-left: auto;
  padding-top: 75px;
  padding-left: 40px;
  padding-right: 40px;
}
.bcg-parallax {
  padding: 100px 0;
  color: #fff;
  background-color: $grey;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 25vh;
}
.content-wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
  z-index: 2;
}

.banner-parallax {
  color: white;
  text-align: center;
  opacity: 0.9;
  height: 30vh;
  border-radius: 2px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-parallax p {
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 20px;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.3);
}

