/* Footer design */
.footer {
  background: #4C4C4C;
  padding: 30px 0px;
}
.footer h2 {
  color: black;
}
.footer p {
  color: white;
}
.footer p:hover {
  color: #333333;
   transition: all 0.3s ease;
}
