// html {
//   overflow: hidden;
// }
// body {
//   height: 100vh;
//   background-color: $blue;
//   overflow-y: auto;
//   overflow-x: hidden;
//   -webkit-overflow-scrolling: touch;
// }

// .parallax-group {
//   -webkit-transform-style: preserve-3d;
//   transform-style: preserve-3d;
// }
// .banner {
//   -webkit-transform: translateZ(-1px);
//   transform: translateZ(-1px);
// }

body {
  background-color: white;
  -webkit-overflow-scrolling: touch;
}
#line {
  border: 1px solid #E6E6E6;
  // width: 25%;
}
.container-line {
  padding-left: 20em;
  padding-right: 20em;
  margin-bottom: 5em;
}
