<body> <!-- banner code -->
  <div class="header">
    <div class="container-banner">
      <div class="banner" style="background-image: linear-gradient(-225deg, rgba(235, 247, 253, 0.6) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path 'airport.jpg' %>);">
        <div class="banner-content">
          <h1 class="animated fadeInDown">Chen</h1>
          <p class="animated fadeInDown">Discover the world safely</p>
        <div class="wrapper-checkin padded">
            <div class="text-center btn">
              <form action="" class="form-inline" class="btn-submit">
                <p class="animated fadeInUp"><input type="submit" value="pre-order" class="btn-submit"></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

      <%= partial "features" %>


  <!-- parallax effect -->
  <div class="container-parallax">
    <div class="banner-parallax" style="background-image:url(<%= image_path 'train.jpg' %>);">
      <div class="bcg-content">
        <p>Chen is a company aiming to develop connected objects in order to serve a target expressing a need.</p>
        <p>We’re working on an innovative luggage accessory to travel smartly together.</p>
      </div>
    </div>
  </div>

      <%= partial "cards" %>

  <div class="container-line">
    <div id="line"></div>
  </div>
  <div class="wrapper-form padded">
    <div class="text-center">
      <h2>Get some news</h2>
      <form action="" class="form-inline">
        <input type="email" class="form-control"  placeholder="brice@denice.com">
        <input type="submit" value="subscribe" class="btn btn-primary">
      </form>
    </div>
  </div>
</body>
